# Alembic Configuration
migrations/alembic.ini

# Cached Results
cached_results.json

# Environment
.env

# IDE
.idea/
.swp

# Python Cache
.cache/
__pycache__/
*.pyc

# Virtualenv
venv/
bin/
lib/
pyvenv.cfg
share/

# Logfile
logfile.log

# Google sheets credentials
app/database_etl/tableau_data_connector/credentials.json
app/database_etl/tableau_data_connector/token.pickle

# cached Stan models
**/stanmodelcache*
.vscode

# CSVs folder used to sync dbs
csvs/
load-dotenv.sh
push_csvs.py
.db_snapshots/

# Data dump for docker postgres
docker_postgres_dump.sql
