# Alembic Configuration
migrations/alembic.ini

# Cached Results
cached_results.json

# Environment
.env

# IDE
.idea/
.swp

# Python Cache
.cache/
__pycache__/
*.pyc

# Virtualenv
venv/

# Logfile
logfile.log

# Google sheets credentials
app/database_etl/tableau_data_connector/credentials.json
app/database_etl/tableau_data_connector/token.pickle
