# PIP VERSION SPECIFIERS
# For more details, see https://www.python.org/dev/peps/pep-0440/#version-specifiers

# ~=: Compatible release clause
# For example, the following are equivalent (The comma is equivalent to a logical AND operator)
# ~= 1.4.5
# >= 1.4.5, == 1.4.*
# In other words, version 1.4.5 or later, but not version 1.5.0 or later.

# REQUIREMENTS

alembic
aniso8601
anyio
appnope
arcgis
argon2-cffi
arviz
async-generator
attrs
Babel
backcall
bleach
boto3
botocore
cachetools
certifi
cffi
cftime
chardet
click
click-plugins
cligj
cryptography
cycler
Cython
decorator
defusedxml
deprecation
entrypoints
factory-boy
Faker
Fiona
Flask
Flask-Cors
Flask-Migrate
flask-restplus
Flask-Script
Flask-SQLAlchemy
future
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gunicorn
httplib2
idna
importlib-metadata
iniconfig
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jmespath
json5
jsonschema
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keyring
kiwisolver
lerc
Mako
MarkupSafe
marshmallow
matplotlib
mistune
more-itertools
munch
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netCDF4
notebook
ntlm-auth
numpy
oauthlib
packaging
pandas
pandocfilters
parso
patsy
pexpect
pickleshare
Pillow
pluggy
print-dict
prometheus-client
prompt-toolkit
protobuf
psycopg2-binary
ptyprocess
py
pyairtable
pyasn1
pyasn1-modules
pyclipper
pycparser
Pygments
pyparsing
pyproj
pyrsistent
pyshp
pystan
pytest
python-certifi-win32
python-dateutil
python-dotenv
python-editor
python-json-logger
pytz
pyzmq
requests
requests-ntlm
requests-oauthlib
requests-toolbelt
rsa
s3transfer
scipy
Send2Trash
setuptools-scm
Shapely
six
slack-sdk
sniffio
SQLAlchemy
statsmodels
terminado
testpath
text-unidecode
toml
tomlkit0
tornado
traitlets
typing-extensions
ujson
uritemplate
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt1
xarray
yapf
zipp
