option_settings:
  aws:elasticbeanstalk:application:environment:
    DATABASE_USERNAME: '{{resolve:ssm:DATABASE_USERNAME:1}}'
    DATABASE_PASSWORD: '{{resolve:ssm:DATABASE_PASSWORD:1}}'
    DATABASE_NAME: '{{resolve:ssm:DATABASE_NAME:1}}'
    DATABASE_HOST_ADDRESS: '{{resolve:ssm:DATABASE_HOST_ADDRESS:1}}'
  aws:ec2:vpc:
    VPCId: vpc-025f9f791198afc14
    ELBSubnets: subnet-0fc35ccf8be5ac230,subnet-0783161dc88d981b6,subnet-0f4684da86c1717c0
    Subnets: subnet-0fc35ccf8be5ac230,subnet-0783161dc88d981b6,subnet-0f4684da86c1717c0
  aws:autoscaling:launchconfiguration:
    SecurityGroups: sg-00e1b6af00c4f5d00
    InstanceType: t2.small